<p>Xin chào {{ name }},</p>
<p>Cảm ơn vì bạn đã liềng răng mất não làm quên mật khẩu của mình</p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>

<p>Nếu bạn không click vào quên mật khảu vui lòng bỏ qua tin nhắn này.</p>
<p>Copyright by Lê Thanh Huyền aka Liềng Răng Bay Não</p>